/data/input/2005/mtmc05/etappen.dat
/data/input/2005/mtmc05/Haushalte.dat
/data/input/2005/mtmc05/zielpersonen.dat
/data/input/2010/mtmc10/etappen.csv
/data/input/2010/mtmc10/haushalte.csv
/data/input/2010/mtmc10/zielpersonen.csv
/data/input/2015/mtmc15/etappen.csv
/data/input/2015/mtmc15/haushalte.csv
/data/input/2015/mtmc15/zielpersonen.csv
/data/input/2021/mtmc21/etappen.csv
/data/input/2021/mtmc21/haushalte.csv
/data/input/2021/mtmc21/zielpersonen.csv